.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 160px);
    grid-template-rows: auto;
    column-gap: 10px;
    row-gap: 20px;
    justify-content: space-around;

    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

.grid-item {
    position: relative;
    height: 280px;
}

.grid-item--image {
    background-color: #1e1e1e;
    height: 240px;
}

.grid-item--image img {
    /* position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; */
    width: 100%;
    height: 240px;
}